.btn {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  border: 0;
  border-radius: 30px;

  width: 240px;
  height: 45px;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 4px #000000;
}

.btn_primary {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: #ffffff;
  transition: 0.3s;
  white-space: nowrap;
  position: relative;
}
.btn_primary:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  top: 0;
  background: linear-gradient(to right,#2f4353, #d2ccc4 );
  height: 45px;
  transition: 0.4s;
  opacity: 0.5;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .btn_primary:before {
    height: 38px;
  }
}
.btn_primary:hover:before {
  left: 0;
  right: 0;
}
/* .btn_primary:hover {
  background: #168fc3b7;
} */
.btn_primary:active {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.btn_dark-blue {
  background: #0a467e;
  color: #ffffff;
  transition: 0.3s;
}
.btn_dark-blue:hover {
  background: #0a467ed6;
}
.btn_dark-blue:active {
  background: #0a467e;
}

.btn_secondary {
  background: #ffffff;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  color: #1b1b1b;;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn_secondary:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  top: 0;
  background: linear-gradient(to right,#2f4353, #d2ccc4 );
  height: 45px;
  transition: 0.4s;
  opacity: 0.5;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .btn_secondary:before {
    height: 38px;
  }
}
.btn_secondary:hover:before {
  left: 0;
  right: 0;
}
.btn_secondary:hover {
}
.btn_secondary:active {
  background: #ffffff;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  color: #ffffff;
}
.btn_secondary img {
  margin-right: 11px;
  margin-top: 1px;
}

.btn_transporent {
  position: relative;
}
.btn_transporent img {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}
.btn_transporent span {
  padding-left: 20px;
}
.btn_transporent:hover img {
  left: -3px;
}
.btn_transporent:hover {
  text-decoration: none;
}
.btn_transporent:active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    height: 38px;
  }
}
